__pycache__/
*.py[cod]
.idea

.DS_Store
.ipynb_checkpoints
.pytest_cache
*.egg-info/
build/
dist/
htmlcov/
.coverage*

*.npz
*.tif*
*.hdf5
*.h5
*.zip
*.png
*.so
*.tfevents.*
config.json
thresholds.json
examples/**/data