name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
        tensorflow: ["tensorflow", "tensorflow<2"]
        exclude:
            # https://www.tensorflow.org/install/pip#system-requirements
          - python-version: 3.8
            tensorflow: "tensorflow<2"
          - python-version: 3.9
            tensorflow: "tensorflow<2"
          - os: windows-latest
            tensorflow: "tensorflow<2"

    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip wheel setuptools
      - run: pip install pytest
      - run: pip install "${{ matrix.tensorflow }}"
      - uses: actions/checkout@v2

      - name: Install package (macOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          brew config
          brew install gcc@9
          pip install .
        env:
          CC: /usr/local/bin/gcc-9
          CXX: /usr/local/bin/g++-9

      - name: Install package (Linux and Windows)
        if: startsWith(matrix.os, 'macos') == false
        run: pip install .

      - run: pytest -v --durations=50 -m "not gpu"
